@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="user_window">
    <p class="lead">Welcome @Model.username!</p>
</div>
<div id="user_information">
    <p class="lead">
        CHANGELOG:<br />
        v1.0 (01.06.2024) - released
    </p>
</div>